<!DOCTYPE html>
<html lang="en">
<head>
    <% include partials/head.ejs %>
    <title><%= pageTitle %></title>
</head>
<body>
    <% include partials/navigation.ejs %>
    <h1>Page doesn’t exist</h1>
    <a href="/">Home</a>
</body>
</html>